<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" id="viewport" content="width=320, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title></title>
		<script src="./js/template-web.js"></script>
		<script src="./js/jquery-2.0.2.min.js"></script>
		<script type="text/template" id="title">
			<section style="font-family: Arial; border: 0px none; padding: 0px; color: #319369; margin-top: 6%;">
				<section style="-webkit-box-reflect:below 0px -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), color-stop(0.2, transparent), to(rgba(250, 250, 250, 0.3))); margin-top:15px;line-height:20px;">
					<p style="display: block; -webkit-margin-before: 1em; -webkit-margin-after: 1em; -webkit-margin-start: 0px; -webkit-margin-end: 0px; text-align: center;  "><span style="font-family:微软雅黑; font-size:25px"><strong style="font-size:25px">{{@value}}</strong></span></p>
				</section>
			</section>
		</script>

		<script type="text/template" id="title2">
			<!--<div style="margin-top: 4%; width: 100%;"><img style="width: 100%;" src="img/leaf.gif" /></div>-->
			<section style="margin-top: 6%;">
				<section style="margin:10px auto;display: flex;justify-content: center;align-items: center;">
					<section style="width:50px;margin-left: -11px;"><img src="img/trunk2.png" style="max-width:100%;margin:0px auto;vertical-align: bottom;"></section>
					<p style="margin: 0px 15px;font-size: 22px;color: #835656;line-height: 1.5;font-weight: 600;">{{@value}}</p>
					<section style="width: 20px;"><img src="img/grass2.png" style="max-width:100%;margin:0px auto;vertical-align: bottom;"></section>
				</section>
			</section>
		</script>

		<script type="text/template" id="title3">
			<section style="margin-top: 4%;display: flex;align-items: center;"><span style="width: 8px;height: 8px;display: block;background-color: #ccc992;border-radius:50%;margin-right: 10px;"></span><span style="width: 12px;height: 12px;display: block;background-color: #ccc992;border-radius:50%;margin-right: 10px;"></span><span style="width: 16px;height: 16px;display: block;background-color: #78992b;border-radius:50%;margin-right: 10px;"></span>
				<p style="margin: 0px 15px;font-size: 22px;color: #835656;line-height: 1.5;font-weight: 600;">{{@value}}</p>
			</section>
		</script>

		<script type="text/template" id="paragraph">
			<section>
				<section style="margin: 10px auto;">
					<section style="display: flex;justify-content: center;align-items: center;transform: rotate(0deg);margin-bottom: -9px;">
						<section style="display: flex;justify-content: center;align-items: center;padding: 0px 10px;background-color: #fff;"><span style="width: 8px;height: 8px;display: block;background-color: #ccc992;border-radius:50%;margin-right: 10px;"></span><span style="width: 12px;height: 12px;display: block;background-color: #ccc992;border-radius:50%;margin-right: 10px;"></span><span style="width: 16px;height: 16px;display: block;background-color: #78992b;border-radius:50%;margin-right: 10px;"></span><span style="width: 16px;height: 16px;display: block;background-color: #78992b;border-radius:50%;margin-left: 10px;"></span><span style="width: 12px;height: 12px;display: block;background-color: #ccc992;border-radius:50%;margin-left: 10px;"></span><span style="width: 8px;height: 8px;display: block;background-color: #ccc992;border-radius:50%;margin-left: 10px;"></span></section>
					</section>
					<section style="border: 2px solid #cec365;padding: 20px;">
						<p style="margin: 0px;font-size: 15px;line-height: 1.5;color: #6f6f6f;">{{@value}}</p>
					</section>
				</section>
			</section>
		</script>
		<script type="text/template" id="paragraph2">
			<section style="margin: 10px auto;display: flex;align-items: center; margin-top: 6%;">
				<section style="width: 80px;transform: rotate(0deg);margin-right: -30px;"><img src="img/leaf_left2.png" style="max-width:100%;margin:0px auto;"></section>
				<section style="flex:1;border: 2px solid #b09a72;padding: 20px;padding-left: 40px;">
					<p style="margin: 0px;font-size: 15px;line-height: 1.5;color: #6f6f6f;">{{@value}}</p>
				</section>
			</section>
		</script>

		<script type="text/template" id="paragraph3">
			<section style="">
				<section style="display: flex;flex-direction: column;align-items: flex-end;">
					<section style="align-self: flex-start;width: 240px;margin-bottom: -90px;"><img src="img/leaves2.png" style="max-width:100%;vertical-align:bottom;margin: 0px auto;" _src="http://editor-material.oss-cn-beijing.aliyuncs.com/style/20180730/1532919946/%E6%AD%A3%E6%96%87%E7%B4%A0%E6%9D%90%2C%E7%AE%80%E7%BA%A6%2C%E5%BC%95%E7%94%A8_0_12553.png"></section>
					<section style="width:100%;padding-left:30px;">
						<section style="padding: 30px;border: 2px solid #1b1b1b;border-radius: 15px;">
							<p style="margin: 0px;font-size: 15px;line-height: 1.5;color:#333;">{{@value}}</p>
						</section>
					</section>
				</section>
			</section>
		</script>

		<script type="text/template" id="img">
			<section style="margin-top: 10%;">
				<!--<section style="margin:10px auto;text-align:center;"><img src="img/leaf2.png" style="max-width:100%;margin:0px auto;"></section>-->
				<section style="margin: 10px auto; width: 80%;">
					<section style="border: 2px solid #cec365;padding: 20px;">
						<section style="margin: 0px auto;text-align: center;">
							<img src="{{@value}}" style="max-width:100%;margin:0px auto;">
						</section>
					</section>
					<section style="display: flex;justify-content: center;align-items: center;transform: rotate(0deg);margin-top: -9px;">
						<section style="display: flex;justify-content: center;align-items: center;padding: 0px 10px;background-color: #fff;"><span style="width: 8px;height: 8px;display: block;background-color: #ccc992;border-radius:50%;margin-right: 10px;"></span><span style="width: 12px;height: 12px;display: block;background-color: #ccc992;border-radius:50%;margin-right: 10px;"></span><span style="width: 16px;height: 16px;display: block;background-color: #78992b;border-radius:50%;margin-right: 10px;"></span><span style="width: 16px;height: 16px;display: block;background-color: #78992b;border-radius:50%;margin-left: 10px;"></span><span style="width: 12px;height: 12px;display: block;background-color: #ccc992;border-radius:50%;margin-left: 10px;"></span><span style="width: 8px;height: 8px;display: block;background-color: #ccc992;border-radius:50%;margin-left: 10px;"></span></section>
					</section>
				</section>
			</section>
		</script>

		<script type="text/template" id="img2">
			<section style="margin-top: 5%;">
				<section style="margin: 0px auto;text-align: center;">
					<div style="padding-left: 20px; padding-right: 20px;">
						<img src="{{@value}}" style="max-width:100%;margin:0px auto;">
					</div>
				</section>
			</section>
		</script>

		<script type="text/template" id="img3">
			<section style="max-width:94%; margin-left: 3%;">
				{{if value.length ==2}} {{each value}} {{if $index==0}}
				<section style="display:flex;align-items:center;">
					<section style="flex-shrink:0;padding: 5px; width: 46%;">
						<img src="{{@$value}}" style="max-width:100%;vertical-align:bottom;">
					</section>
					<section>
						<p style="margin:0px;font-size:22px;color:#333;line-height:1.8;">​<br></p>
					</section>
				</section>
				{{else if $index==1}}
				<section style="display:flex;align-items:center;">
					<p style="margin:0px;font-size:15px;line-height:1.5;color:#333;"> </p>
					<section style="width:46%;flex-shrink:0;padding:5px;background-color:#fff;margin-left:51%;margin-top:-40px;">
						<img src="{{@$value}}" style="max-width:100%;vertical-align:bottom;">
					</section>
				</section>
				{{else}} {{/if}} {{/each}} {{/if}}
			</section>
		</script>

		<script type="text/template" id="img4">
			<section style="max-width: 80% !important;margin:0px auto;">
				{{if value.length ==3}} {{each value}} {{if $index==0}}
				<section style="display:flex;text-align:center;">
					<section style="margin:0px auto;">
						<img src="{{@$value}}" style="margin:0px auto;text-align:center; width: 91%;">
					</section>
				</section>
				<section style="display:flex;margin-left: 5%;">
					<section style="display:flex;margin-top:10px;">
						{{else if $index==1}}
						<section style="flex:1;">
							<img src="{{@$value}}" style="width: 91%;">
						</section>
						{{else if $index==2}}
						<section style="flex:1;">
							<img src="{{@$value}}" style="width: 91%;">
						</section>
					</section>
				</section>
				{{else}} {{/if}} {{/each}} {{/if}}
			</section>
		</script>

		<script type="text/template" id="img5">
			<section>
				<section style="display:flex;">
					{{if value.length ==4}} {{each value}} {{if $index==0}}
					<section style="width:50%;padding: 5px;border-radius: 10px;margin-bottom: 5px;">
						<section style="line-height: 0em;padding: 2px;"><img src="{{@$value}}" style="width: 100%;vertical-align:top;"></section>
					</section>
					{{else if $index==1}}
					<section style="width:50%;padding: 5px;border-radius: 10px; margin-bottom: 5px;">
						<section style="line-height: 0em;padding: 2px;"><img src="{{@$value}}" style="width: 100%;vertical-align:top;"></section>
					</section>
				</section>
				<section style="display:flex;">
					{{else if $index==2}}
					<section style="width:50%;padding: 5px; border-radius: 10px; margin-bottom: 5px;">
						<section style="line-height: 0em; padding: 2px;"><img src="{{@$value}}" style="width: 100%;vertical-align:top;"></section>
					</section>
					{{else if $index==3}}
					<section style="width:50%;padding: 5px;border-radius: 10px; margin-bottom: 5px;">
						<section style="line-height: 0em;padding: 2px;"><img src="{{@$value}}" style="width: 100%;vertical-align:top;"></section>
					</section>
				</section>
				{{else}} {{/if}} {{/each}} {{/if}}
			</section>
		</script>

		<script type="text/javascript">
			var template_meta = {
				title: ['title', 'title2', 'title3'],
				paragraph: ['paragraph', 'paragraph2', 'paragraph3'],
				image: ['img', 'img2', 'img3', 'img4', 'img5']
			};
			(function(win) {

				win.template_meta = {
					title: ['title', 'title2', 'title3'],
					paragraph: ['paragraph', 'paragraph2', 'paragraph3'],
					image: ['img', 'img2', 'img3', 'img4', 'img5']
				};

				win.template_meta.render = function(config) {
					var html = "";
					var count = {};
					var paragraph_num = 0;
					var image_num = 0;
					var special_num = 0;
					var arry;
					config.resources.map(function(item, i) {
						count[item.type] = (count[item.type] || 0) + 1;
						var t_list = template_meta[item.type];
						if(item.type == 'title') {
							if(!isNaN(parseInt(item.value))) { //当标题为数字，不修改title样式
								if(special_num == (template_meta[item.type].length - 1)) { //sepcial_num将越界，重新循环
									var tmp = t_list[special_num];
									for(var num = i + 1; num < config.resources.length; num++) { //找到下一个title，如果为数字，将模板标题模板存储起来
										if(config.resources[num].type == 'title') {
											if(!isNaN(parseInt(config.resources[num].value))) {
												break;
											} else {
												special_num = 0;
												break;
											}
										}
									}
								} else {
									var tmp = t_list[special_num];
									for(var num = i + 1; num < config.resources.length; num++) { //找到下一个title，将模板标题模板存储起来
										if(config.resources[num].type == 'title') {
											if(!isNaN(parseInt(config.resources[num].value))) {
												break;
											} else {
												special_num++;
												break;
											}
										}
									}
								}
							} else { //标题不为数字
								if(special_num == (template_meta[item.type].length - 1)) { //sepcial_num将越界，重新循环
									var tmp = t_list[special_num];
									special_num = 0;
								} else {
									var tmp = t_list[special_num];
									special_num++;
								}
							}
						} else if(item.type == 'image') {
							var arrys = item.value.split(",");
							if(arrys.length > 1) { //如果为连续图片，选择img3开始的模板
								var tmp = t_list[arrys.length];
								arry = { "value": arrys };
								var h1 = template(tmp, arry);
								html += h1;
								return html;
							} else if(arrys.length == 1) { //单图，从前两个图片模板中随机选择
								var x = 0;
								var y = 1;
								image_num = parseInt(Math.random() * (y - x + 1) + x);
								var tmp = t_list[image_num];
							}

						} else if(item.type == 'paragraph') {
							if(i != 0 && i != (config.resources.length - 1)) {
								for(var num = i - 1; num > -1; num--) {
									if(config.resources[num].type == 'title') {
										if(!isNaN(parseInt(config.resources[num].value))) { //前一个title为数字
											for(var mock = i + 1; mock < config.resources.length; mock++) {
												if(config.resources[mock].type == 'title') {
													if(!isNaN(parseInt(config.resources[mock].value))) { //后一个title为数字
														var tmp = t_list[paragraph_num];
														var h = template(tmp, item);
														html += h;
														return html;
													} else { //后一个title不为数字，添加分割线
														if(paragraph_num == (template_meta[item.type].length - 1)) {
															var tmp = t_list[paragraph_num];
															paragraph_num = 0;
															var h = template(tmp, item);
															html += h;
															html += '<div style="margin-top: 4%; width: 100%;"><img style="width: 100%;" src="img/leaf.gif" />';
															return html;
														} else {
															var tmp = t_list[paragraph_num];
															paragraph_num++;
															var h = template(tmp, item);
															html += h;
															html += '<div style="margin-top: 4%; width: 100%;"><img style="width: 100%;" src="img/leaf.gif" />';
															return html;
														}
													}
												}
											}
											if(special_num == (template_meta[item.type].length - 1)) { //后面无title
												special_num = 0;
												var tmp = t_list[special_num];

											} else {
												special_num++;
												var tmp = t_list[special_num];
											}
										} else { //前一个title不为数字
											if(paragraph_num == (template_meta[item.type].length - 1)) {
												var tmp = t_list[paragraph_num];
												paragraph_num = 0;
											} else {
												var tmp = t_list[paragraph_num];
												paragraph_num++;
											}
											var h = template(tmp, item);
											html += h;
											return html;
										}
									}

								}
								if(special_num == (template_meta[item.type].length - 1)) { //前后无title
									var tmp = t_list[special_num];
									special_num = 0;

								} else {
									var tmp = t_list[special_num];
									special_num++;
								}
							} else { //paragraph处于第一或者最后一个
								if(special_num == (template_meta[item.type].length - 1)) {
									var tmp = t_list[special_num];
									special_num = 0;

								} else {
									var tmp = t_list[special_num];
									special_num++;
								}
							}
						}
						var h = template(tmp, item);
						html += h;
					});
					return html;
				}

			})(window);

			var config = window.config || {
				title: "",
				resources: [
				]
			};

			$(function() {
				var render = window.template_meta.render || function(config) {
					var html = "";
					var count = {};
					var paragraph_num = 0;
					var image_num = 0;
					var special_num = 0;
					var arry;
					config.resources.map(function(item, i) {
						count[item.type] = (count[item.type] || 0) + 1;
						var t_list = template_meta[item.type];
						if(item.type == 'title') {
							if(!isNaN(parseInt(item.value))) { //当标题为数字，不修改title样式
								if(special_num == (template_meta[item.type].length - 1)) { //sepcial_num将越界，重新循环
									var tmp = t_list[special_num];
									for(var num = i + 1; num < config.resources.length; num++) { //找到下一个title，如果为数字，将模板标题模板存储起来
										if(config.resources[num].type == 'title') {
											if(!isNaN(parseInt(config.resources[num].value))) {
												break;
											} else {
												special_num = 0;
												break;
											}
										}
									}
								} else {
									var tmp = t_list[special_num];
									for(var num = i + 1; num < config.resources.length; num++) { //找到下一个title，将模板标题模板存储起来
										if(config.resources[num].type == 'title') {
											if(!isNaN(parseInt(config.resources[num].value))) {
												break;
											} else {
												special_num++;
												break;
											}
										}
									}
								}
							} else { //标题不为数字
								if(special_num == (template_meta[item.type].length - 1)) { //sepcial_num将越界，重新循环
									var tmp = t_list[special_num];
									special_num = 0;
								} else {
									var tmp = t_list[special_num];
									special_num++;
								}
							}
						} else if(item.type == 'image') {
							var arrys = item.value.split(",");
							if(arrys.length > 1) { //如果为连续图片，选择img3开始的模板
								var tmp = t_list[arrys.length];
								arry = { "value": arrys };
								var h1 = template(tmp, arry);
								html += h1;
								return html;
							} else if(arrys.length == 1) { //单图，从前两个图片模板中随机选择
								var x = 0;
								var y = 1;
								image_num = parseInt(Math.random() * (y - x + 1) + x);
								var tmp = t_list[image_num];
							}

						} else if(item.type == 'paragraph') {
							if(i != 0 && i != (config.resources.length - 1)) {
								for(var num = i - 1; num > -1; num--) {
									if(config.resources[num].type == 'title') {
										if(!isNaN(parseInt(config.resources[num].value))) { //前一个title为数字
											for(var mock = i + 1; mock < config.resources.length; mock++) {
												if(config.resources[mock].type == 'title') {
													if(!isNaN(parseInt(config.resources[mock].value))) { //后一个title为数字
														var tmp = t_list[paragraph_num];
														var h = template(tmp, item);
														html += h;
														return html;
													} else { //后一个title不为数字，添加分割线
														if(paragraph_num == (template_meta[item.type].length - 1)) {
															var tmp = t_list[paragraph_num];
															paragraph_num = 0;
															var h = template(tmp, item);
															html += h;
															html += '<div style="margin-top: 4%; width: 100%;"><img style="width: 100%;" src="img/leaf.gif" />';
															return html;
														} else {
															var tmp = t_list[paragraph_num];
															paragraph_num++;
															var h = template(tmp, item);
															html += h;
															html += '<div style="margin-top: 4%; width: 100%;"><img style="width: 100%;" src="img/leaf.gif" />';
															return html;
														}
													}
												}
											}
											if(special_num == (template_meta[item.type].length - 1)) { //后面无title
												special_num = 0;
												var tmp = t_list[special_num];

											} else {
												special_num++;
												var tmp = t_list[special_num];
											}
										} else { //前一个title不为数字
											if(paragraph_num == (template_meta[item.type].length - 1)) {
												var tmp = t_list[paragraph_num];
												paragraph_num = 0;
											} else {
												var tmp = t_list[paragraph_num];
												paragraph_num++;
											}
											var h = template(tmp, item);
											html += h;
											return html;
										}
									}

								}
								if(special_num == (template_meta[item.type].length - 1)) { //前后无title
									var tmp = t_list[special_num];
									special_num = 0;

								} else {
									var tmp = t_list[special_num];
									special_num++;
								}
							} else { //paragraph处于第一或者最后一个
								if(special_num == (template_meta[item.type].length - 1)) {
									var tmp = t_list[special_num];
									special_num = 0;

								} else {
									var tmp = t_list[special_num];
									special_num++;
								}
							}
						}
						var h = template(tmp, item);
						html += h;
					});
					return html;
				}

				$("#main").html(render(config));
			});
		</script>
	</head>

	<body>
		<section class="KolEditor" style="margin-top:20px;"><img src="img/follow.gif" style="width: 100%; max-width: 100%;" title="" alt="" border="" height="" width="" _src="http://editor-material.oss-cn-beijing.aliyuncs.com/style/20180730/1532920162/%E4%B8%8A%E5%85%B3%E6%B3%A8_0_531.gif">​</section>
		<!--<section class="KolEditor" style="undefined"><section style="display:flex;align-items:center;justify-content:center;margin:10px auto;"><section style="max-width:220px !important;"><img src="http://kol-statics.oss-cn-beijing.aliyuncs.com/editor/170604202822321059d1b07f2c8dc2cceca080.png" style="max-width:100%;margin:0px auto;" _src="http://kol-statics.oss-cn-beijing.aliyuncs.com/editor/170604202822321059d1b07f2c8dc2cceca080.png"></section></section></section>-->
		<div id="main">

		</div>
		<section style="margin:10px auto; margin-bottom: 10%; margin-top:5%; text-align:center;"><img src="img/follow2.png" style="max-width:100%;margin:0px auto;" class="KolImg"></section>
	</body>

</html>