<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="renderer" content="webkit">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
	<title>活动管理</title>
	<link href="${request.contextPath}/css/app.3a4d5dbd59e48eb692cd4a592421aa42.css" rel="stylesheet">
</head>

<body>
	<div id="app"></div>
	<script type="text/javascript" src="${request.contextPath}/js/manifest.2ae2e69a05c33dfc65f8.js"></script>
	<script type="text/javascript" src="${request.contextPath}/js/vendor.ff144a0ae89ff56bd192.js"></script>
	<script type="text/javascript" src="${request.contextPath}/js/app.bed2ef4ad6816c48bc10.js"></script>
</body>

</html>
