<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" id="viewport" content="width=320, initial-scale=1, maximum-scale=1, user-scalable=no">
		<script src="./js/template-web.js"></script>
		<script src="./js/jquery-2.0.2.min.js"></script>
		<script type="text/template" id="title">
			<section style="margin: 10px auto;display: flex;justify-content:flex-start;align-items:flex-end;padding-left: 10px;">
				<section style="width: 36px;margin-bottom: -3px;z-index: 5;"><img src="img1/titleLeaf1_1.png" style="max-width: 100%;"></section>
				<section style="border: 1px solid #884344;padding-left: 44px;margin-left: -44px;padding-right: 19px;padding-bottom: 3px;padding-top: 3px;">
					<p style="font-size: 18px;margin:0;color: #ae2f2d; ">{{@value}}</p>
				</section>
			</section>
		</script>

		<script type="text/template" id="title2">
			<section style="margin-top: 2%;;display: flex;justify-content: center;align-items: center;">
				<section style="flex: 1;"></section>
				<section style="display: flex;justify-content:flex-start;align-items:flex-end;padding-left: 10px;align-self: flex-end;">
					<section style="border: 1px solid #884344;padding-right: 44px;padding-left: 19px;padding-bottom: 3px;padding-top: 3px;">
						<p style="font-size: 18px;margin:0;color: #ae2f2d; ">{{@value}}</p>
					</section>
					<section style="width: 36px;margin-bottom: -3px;z-index: 5;margin-left: -10px;margin-left: -30px;flex-shrink: 0;"><img src="img1/titleLeft2.png" style="max-width: 100%;" class="KolImg" _src="http://editor-material.oss-cn-beijing.aliyuncs.com/style/20180730/1532921979/%E7%AB%8B%E7%A7%8B%2C%E7%A7%8B%E5%A4%A9%2C%E6%9E%AB%E5%8F%B6%2C%E6%B8%A9%E6%9A%96_12_112373.png"></section>
				</section>
			</section>
		</script>

		<script type="text/template" id="title3">
			<section style="margin: 10px auto;display: flex;justify-content:center;align-items:flex-end;padding-left: 10px;">
				<section style="width: 28px;margin-bottom: -3px;z-index: 5;"><img src="img1/titleLeaf3_1.png" style="max-width: 100%;"></section>
				<section style="border: 1px solid #884344;padding-left: 44px;margin-left: -35px;padding-right: 19px;padding-bottom: 3px;padding-top: 3px;">
					<p style="font-size: 18px;margin:0;color: #ae2f2d; ">{{@value}}</p>
				</section>
			</section>
		</script>

		<script type="text/template" id="paragraph">
			<section style="margin-top: 8%;display: flex;flex-direction: column;justify-content: center;align-items: center; width: 100%;">
				<section style="display: flex;justify-content: center;align-items: center; width: 100%;">
					<section style="width: 9px;flex-shrink: 0;margin-right: -5px;z-index: 3;"><img src="img1/leaf1_1.png" style="max-width: 100%;"></section>
					<section style="display: flex;align-items: center;justify-content: center;flex-direction: column; width: 100%;">
						<section style="flex-shrink: 0;align-self: flex-start;width: 110px;margin-bottom: -14px;margin-left: 28px"><img src="img1/leaf1_2.png" style="max-width: 100%;"></section>
						<section style="border: 1px solid #752627; width: 90%;">
							<section style="padding-top: 14px;padding-left: 12px;padding-right: 12px;padding-bottom: 14px;">
								<p style="margin: 0;font-size: 15px;line-height: 1.5;">{{@value}}</p>
							</section>
						</section>
						<section style="flex-shrink: 0;align-self: flex-start;width: 110px;margin-top: -8px;margin-left: 28px"><img src="img1/leaf1_3.png" alt=""></section>
					</section>
					<section style="display: flex;flex-direction: column;align-items: center;justify-content: center;">
						<section style="width: 5px;flex-shrink: 0;margin-left: -10px;margin-bottom: 40px;"><img src="img1/leaf1_4.png" style="max-width: 100%;"></section>
					</section>
				</section>
				<section style="width: 9px;margin-top: -35px;align-self: flex-end;margin-right: 15px;"><img src="img1/leaf1_5.png" style="max-width: 100%;"></section>
			</section>
		</script>
		<script type="text/template" id="paragraph2">
			<section style="margin-top:10%; margin-left:5%; background-image:url(img1/bottom1.png);background-repeat: no-repeat;background-position:left bottom;background-size: 100% auto;border: 1px solid #dca4a4;padding-bottom: 70px;box-sizing: border-box;width:90%">
				<section style="margin: 15px 20px;">
					<p style="font-size: 15px;line-height: 1.5;">{{@value}}</p>
				</section>
			</section>
		</script>

		<script type="text/template" id="paragraph3">
			<section style="margin-top: 10%;display: flex;flex-direction: column;align-items: center;">
				<section style="margin:10px;padding: 10px;border: 1px #b4585d solid;margin-top: -20px;padding-top: 20px; width: 80%;">
					<p style="font-size: 15px;line-height: 1.5;color: #b08a47;margin: 0;">{{@value}}</p>
				</section>
			</section>
		</script>

		<script type="text/template" id="img">
			<div style="margin-bottom: 2%;width: 80%; margin-top: 5%; margin-left: 10%;"><img src="{{@value}}" style="width: 100%; height: 35%;" /></div>
		</script>

		<script type="text/template" id="img2">
			<div style="border: 3px solid #b4585d; width: 90%; margin-left: 5%; margin-top: 5%;">
				<img src="{{@value}}" style="width: 100%; display: block;" />
			</div>
		</script>

		<script type="text/template" id="img3">
			<section style="max-width:94%; margin-left: 3%;">
				{{if value.length ==2}} {{each value}} {{if $index==0}}
				<section style="display:flex;align-items:center;">
					<section style="flex-shrink:0;padding: 5px; width: 46%;">
						<img src="{{@$value}}" style="max-width:100%;vertical-align:bottom;">
					</section>
					<section>
						<p style="margin:0px;font-size:22px;color:#333;line-height:1.8;">​<br></p>
					</section>
				</section>
				{{else if $index==1}}
				<section style="display:flex;align-items:center;">
					<p style="margin:0px;font-size:15px;line-height:1.5;color:#333;"> </p>
					<section style="width:46%;flex-shrink:0;padding:5px;background-color:#fff;margin-left:51%;margin-top:-40px;">
						<img src="{{@$value}}" style="max-width:100%;vertical-align:bottom;">
					</section>
				</section>
				{{else}} {{/if}} {{/each}} {{/if}}
			</section>
		</script>

		<script type="text/template" id="img4">
			<section style="max-width: 80% !important;margin:5% auto;">
				{{if value.length ==3}} {{each value}} {{if $index==0}}
				<section style="display:flex;text-align:center;">
					<section style="margin:0px auto;">
						<img src="{{@$value}}" style="margin:0px auto;text-align:center; width: 91%;">
					</section>
				</section>
				<section style="display:flex;margin-left: 5%;">
					<section style="display:flex;margin-top:10px;">
						{{else if $index==1}}
						<section style="flex:1;">
							<img src="{{@$value}}" style="width: 91%;">
						</section>
						{{else if $index==2}}
						<section style="flex:1;">
							<img src="{{@$value}}" style="width: 91%;">
						</section>
					</section>
				</section>
				{{else}} {{/if}} {{/each}} {{/if}}
			</section>
		</script>

		<script type="text/template" id="img5">
			<section style="margin-top: 6%;">
				<section style="display:flex;">
					{{if value.length ==4}} {{each value}} {{if $index==0}}
					<section style="width:50%;padding: 5px;border-radius: 10px;margin-bottom: 5px;">
						<section style="line-height: 0em;padding: 2px;"><img src="{{@$value}}" style="width: 100%;vertical-align:top;"></section>
					</section>
					{{else if $index==1}}
					<section style="width:50%;padding: 5px;border-radius: 10px; margin-bottom: 5px;">
						<section style="line-height: 0em;padding: 2px;"><img src="{{@$value}}" style="width: 100%;vertical-align:top;"></section>
					</section>
				</section>
				<section style="display:flex;">
					{{else if $index==2}}
					<section style="width:50%;padding: 5px; border-radius: 10px; margin-bottom: 5px;">
						<section style="line-height: 0em; padding: 2px;"><img src="{{@$value}}" style="width: 100%;vertical-align:top;"></section>
					</section>
					{{else if $index==3}}
					<section style="width:50%;padding: 5px;border-radius: 10px; margin-bottom: 5px;">
						<section style="line-height: 0em;padding: 2px;"><img src="{{@$value}}" style="width: 100%;vertical-align:top;"></section>
					</section>
				</section>
				{{else}} {{/if}} {{/each}} {{/if}}
			</section>
		</script>
		<script type="text/javascript">
			var template_meta = {
				title: ['title', 'title2', 'title3'],
				paragraph: ['paragraph', 'paragraph2', 'paragraph3'],
				image: ['img', 'img2', 'img3', 'img4', 'img5']
			};
			(function(win) {

				win.template_meta = {
					title: ['title', 'title2', 'title3'],
					paragraph: ['paragraph', 'paragraph2', 'paragraph3'],
					image: ['img', 'img2', 'img3', 'img4', 'img5']
				};

				win.template_meta.render = function(config) {
					var html = "";
					var count = {};
					var paragraph_num = 0;
					var image_num = 0;
					var special_num = 0;
					var arry;
					config.resources.map(function(item, i) {
						count[item.type] = (count[item.type] || 0) + 1;
						var t_list = template_meta[item.type];
						if(item.type == 'title') {
							if(!isNaN(parseInt(item.value))) { //当标题为数字，不修改title样式
								if(special_num == (template_meta[item.type].length - 1)) { //sepcial_num将越界，重新循环
									var tmp = t_list[special_num];
									for(var num = i + 1; num < config.resources.length; num++) { //找到下一个title，如果为数字，将模板标题模板存储起来
										if(config.resources[num].type == 'title') {
											if(!isNaN(parseInt(config.resources[num].value))) {
												break;
											} else {
												special_num = 0;
												break;
											}
										}
									}
								} else {
									var tmp = t_list[special_num];
									for(var num = i + 1; num < config.resources.length; num++) { //找到下一个title，将模板标题模板存储起来
										if(config.resources[num].type == 'title') {
											if(!isNaN(parseInt(config.resources[num].value))) {
												break;
											} else {
												special_num++;
												break;
											}
										}
									}
								}
							} else { //标题不为数字
								if(special_num == (template_meta[item.type].length - 1)) { //sepcial_num将越界，重新循环
									var tmp = t_list[special_num];
									special_num = 0;
								} else {
									var tmp = t_list[special_num];
									special_num++;
								}
							}
						} else if(item.type == 'image') {
							var arrys = item.value.split(",");
							if(arrys.length > 1) { //如果为连续图片，选择img3开始的模板
								var tmp = t_list[arrys.length];
								arry = { "value": arrys };
								var h1 = template(tmp, arry);
								html += h1;
								return html;
							} else if(arrys.length == 1) { //单图，从前两个图片模板中随机选择
								var x = 0;
								var y = 1;
								image_num = parseInt(Math.random() * (y - x + 1) + x);
								var tmp = t_list[image_num];
							}

						} else if(item.type == 'paragraph') {
							if(i != 0 && i != (config.resources.length - 1)) {
								for(var num = i - 1; num > -1; num--) {
									if(config.resources[num].type == 'title') {
										if(!isNaN(parseInt(config.resources[num].value))) { //前一个title为数字
											for(var mock = i + 1; mock < config.resources.length; mock++) {
												if(config.resources[mock].type == 'title') {
													if(!isNaN(parseInt(config.resources[mock].value))) { //后一个title为数字
														var tmp = t_list[paragraph_num];
														var h = template(tmp, item);
														html += h;
														return html;
													} else { //后一个title不为数字，添加分割线
														if(paragraph_num == (template_meta[item.type].length - 1)) {
															var tmp = t_list[paragraph_num];
															paragraph_num = 0;
															var h = template(tmp, item);
															html += h;
															html += '<section style="margin-top:4%;margin-left:5%;"><img src="img1/split1.png" style="width: 90%;"></section></section>';
															return html;
														} else {
															var tmp = t_list[paragraph_num];
															paragraph_num++;
															var h = template(tmp, item);
															html += h;
															html += '<section style="margin-top:4%;margin-left:5%;"><img src="img1/split1.png" style="width: 90%;"></section></section>';
															return html;
														}
													}
												}
											}
											if(special_num == (template_meta[item.type].length - 1)) { //后面无title
												special_num = 0;
												var tmp = t_list[special_num];

											} else {
												special_num++;
												var tmp = t_list[special_num];
											}
										} else { //前一个title不为数字
											if(paragraph_num == (template_meta[item.type].length - 1)) {
												var tmp = t_list[paragraph_num];
												paragraph_num = 0;
											} else {
												var tmp = t_list[paragraph_num];
												paragraph_num++;
											}
											var h = template(tmp, item);
											html += h;
											return html;
										}
									}

								}
								if(special_num == (template_meta[item.type].length - 1)) { //前后无title
									var tmp = t_list[special_num];
									special_num = 0;

								} else {
									var tmp = t_list[special_num];
									special_num++;
								}
							} else { //paragraph处于第一或者最后一个
								if(special_num == (template_meta[item.type].length - 1)) {
									var tmp = t_list[special_num];
									special_num = 0;

								} else {
									var tmp = t_list[special_num];
									special_num++;
								}
							}
						}
						var h = template(tmp, item);
						html += h;
					});
					return html;
				}

			})(window);

			var config = window.config || {
				title: "",
				resources: [
				]
			};

			$(function() {

				var render = window.template_meta.render || function(config) {
					var html = "";
					var count = {};
					var paragraph_num = 0;
					var image_num = 0;
					var special_num = 0;
					var arry;
					config.resources.map(function(item, i) {
						count[item.type] = (count[item.type] || 0) + 1;
						var t_list = template_meta[item.type];
						if(item.type == 'title') {
							if(!isNaN(parseInt(item.value))) { //当标题为数字，不修改title样式
								if(special_num == (template_meta[item.type].length - 1)) { //sepcial_num将越界，重新循环
									var tmp = t_list[special_num];
									for(var num = i + 1; num < config.resources.length; num++) { //找到下一个title，如果为数字，将模板标题模板存储起来
										if(config.resources[num].type == 'title') {
											if(!isNaN(parseInt(config.resources[num].value))) {
												break;
											} else {
												special_num = 0;
												break;
											}
										}
									}
								} else {
									var tmp = t_list[special_num];
									for(var num = i + 1; num < config.resources.length; num++) { //找到下一个title，将模板标题模板存储起来
										if(config.resources[num].type == 'title') {
											if(!isNaN(parseInt(config.resources[num].value))) {
												break;
											} else {
												special_num++;
												break;
											}
										}
									}
								}
							} else { //标题不为数字
								if(special_num == (template_meta[item.type].length - 1)) { //sepcial_num将越界，重新循环
									var tmp = t_list[special_num];
									special_num = 0;
								} else {
									var tmp = t_list[special_num];
									special_num++;
								}
							}
						} else if(item.type == 'image') {
							var arrys = item.value.split(",");
							if(arrys.length > 1) { //如果为连续图片，选择img3开始的模板
								var tmp = t_list[arrys.length];
								arry = { "value": arrys };
								var h1 = template(tmp, arry);
								html += h1;
								return html;
							} else if(arrys.length == 1) { //单图，从前两个图片模板中随机选择
								var x = 0;
								var y = 1;
								image_num = parseInt(Math.random() * (y - x + 1) + x);
								var tmp = t_list[image_num];
							}

						} else if(item.type == 'paragraph') {
							if(i != 0 && i != (config.resources.length - 1)) {
								for(var num = i - 1; num > -1; num--) {
									if(config.resources[num].type == 'title') {
										if(!isNaN(parseInt(config.resources[num].value))) { //前一个title为数字
											for(var mock = i + 1; mock < config.resources.length; mock++) {
												if(config.resources[mock].type == 'title') {
													if(!isNaN(parseInt(config.resources[mock].value))) { //后一个title为数字
														var tmp = t_list[paragraph_num];
														var h = template(tmp, item);
														html += h;
														return html;
													} else { //后一个title不为数字，添加分割线
														if(paragraph_num == (template_meta[item.type].length - 1)) {
															var tmp = t_list[paragraph_num];
															paragraph_num = 0;
															var h = template(tmp, item);
															html += h;
															html += '<section style="margin-top:4%;margin-left:5%;"><img src="img1/split1.png" style="width: 90%;"></section></section>';
															return html;
														} else {
															var tmp = t_list[paragraph_num];
															paragraph_num++;
															var h = template(tmp, item);
															html += h;
															html += '<section style="margin-top:4%;margin-left:5%;"><img src="img1/split1.png" style="width: 90%;"></section></section>';
															return html;
														}
													}
												}
											}
											if(special_num == (template_meta[item.type].length - 1)) { //后面无title
												special_num = 0;
												var tmp = t_list[special_num];

											} else {
												special_num++;
												var tmp = t_list[special_num];
											}
										} else { //前一个title不为数字
											if(paragraph_num == (template_meta[item.type].length - 1)) {
												var tmp = t_list[paragraph_num];
												paragraph_num = 0;
											} else {
												var tmp = t_list[paragraph_num];
												paragraph_num++;
											}
											var h = template(tmp, item);
											html += h;
											return html;
										}
									}

								}
								if(special_num == (template_meta[item.type].length - 1)) { //前后无title
									var tmp = t_list[special_num];
									special_num = 0;

								} else {
									var tmp = t_list[special_num];
									special_num++;
								}
							} else { //paragraph处于第一或者最后一个
								if(special_num == (template_meta[item.type].length - 1)) {
									var tmp = t_list[special_num];
									special_num = 0;

								} else {
									var tmp = t_list[special_num];
									special_num++;
								}
							}
						}
						var h = template(tmp, item);
						html += h;
					});
					return html;
				}
				$("#main").html(render(config));
			});
		</script>
	</head>

	<body>
		<section style="margin:40px auto;display: flex;justify-content: center;align-items: center;">
			<section style="width: 32px;flex-shrink: 0;"><img src="img1/leftLeaf1.png" style="max-width: 100%;"></section>
			<section style="margin: 0 3px;text-align: center;display: flex;flex-direction: column;justify-content: center;align-items: center;">
				<p style="margin: 0;font-size: 18px;line-height: 1">关注我们了解更多精彩</p>
				<section style="border: 1px solid #725136;height: 1px;width: 90%;margin-top: 8px;background: #725136;"></section>
			</section>
			<section style="width: 32px;flex-shrink: 0; "><img src="img1/rightLeaf1.png" style="max-width: 100%;"></section>
		</section>
		<div id="main"></div>
		<section style="width: 100%;margin-top: 10%; margin-bottom: 5%;"><img src="img1/end1.png" alt="" style="max-width: 100%;"></section>
		<section style="margin:0px auto; text-align: center;"><img src="img1/reallyEnd1.png" alt="" style="margin:0px auto;" _src="http://editor-material.oss-cn-beijing.aliyuncs.com/style/20180730/1532919960/%E9%BB%91%E8%89%B2%E5%9B%BE%E6%A0%87%2CEND%2C%E5%88%86%E5%89%B2%E7%AC%A6_0_12115.png"></section>
	</body>

</html>