<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" id="viewport" content="width=320, initial-scale=1, maximum-scale=1, user-scalable=no">
		<script src="./js/jquery-2.0.2.min.js"></script>
		<script src="./js/template-web.js"></script>
		<script type="text/template" id="title">
			<section>
				<!--<section style="margin: 10px auto;width:275px;"><img src="img4/split4.png" style="max-width: 100%;">​</section>-->
				<section style="display: flex;justify-content: center;align-items: center;">
					<section style="width: 40px;transform: rotate(0deg);margin-right: -25px;">​<img src="img4/title_left4.png" style="max-width:100%;margin:0px auto;vertical-align: bottom;"></section>
					<section style="border:2px dashed #ffecd0;height: 40px;display: flex;align-items: center;padding:0px 15px 0px 25px;">
						<p style="margin: 0px;color: #f8b551;font-weight: 600;font-size: 18px;">{{@value}}</p>
					</section>
					<section style="width: 12px;margin-left: -8px;"><img src="img4/title_right4.png" style="max-width:100%;margin:0px auto;vertical-align: bottom;"></section>
				</section>
			</section>
		</script>

		<script type="text/template" id="title2">
			<section>
				<section style="margin: 5% auto;display: flex;justify-content: center;align-items:flex-end;box-sizing: border-box;">
					<section style="width: 25px;flex-shrink: 0;height:44px;"><img src="img4/left4.png" style="max-width: 100%;"></section>
					<section style="background-image:url(img4/medium4.png);background-position:center;background-repeat: repeat-x;background-size: auto 100%;padding: 5px 15px;text-align: center;height:34px;overflow: hidden;">
						<p style="margin: 0;font-size: 16px;line-height:31px;color: #fff;">{{@value}}</p>
					</section>
					<section style="width:25px;flex-shrink: 0;height:44px;"><img src="img4/right4.png" style="max-width: 100%;"></section>
				</section>
			</section>
		</script>

		<script type="text/template" id="title3">
			<section>
				<section style="margin:10px auto;text-align:center;">
					<section style="background-image:url(img4/starts4.png);height:50px;padding:0px 5px;background-size:auto 100%;background-position:center;background-repeat:no-repeat;">
						<section style="display: flex;align-items: center;justify-content: center;">
							<section style="border: 2px dashed #ffecd0;height: 40px;display: flex;align-items: center;padding-right: 15px;">
								<section style="width:40px;"><img src="img4/third4.png" style="max-width:100%;margin:0px auto;vertical-align: bottom;"></section>
								<p style="margin: 0px;color: #f8b551;font-weight: 600;font-size: 18px;flex: 1;">{{@value}}</p>
							</section>
						</section>
					</section>
				</section>
			</section>
		</script>

		<script type="text/template" id="paragraph">
			<section style="margin-top:5%; width:100%; box-sizing: border-box;display: flex;justify-content: center;align-items: center;">
				<section style="width: 89px;flex-shrink: 0;align-self: flex-end;margin-right: -75px;margin-bottom: -15px;z-index: 3;"><img src="img4/flower_left4.png" style="max-width: 100%;"></section>
				<section style="display: flex;width:100%; align-items:flex-end;flex-direction: column;justify-content: center;border: 2px solid #9dd4e0;text-indent:2em;padding:45px 30px 32px 30px;">
					<p style="margin: 0;font-size:15px;line-height:1.5;color:#42445d; width: 100%;">{{@value}}</p>
				</section>
				<section style="flex-shrink: 0;width: 45px;align-self: flex-start;margin-left: -30px;margin-top: -15px;z-index: 3;"><img src="img4/flower_right4.png" style="max-width: 100%;"></section>
			</section>
		</script>
		<script type="text/template" id="paragraph2">
			<section>
				<section style="display: flex;align-items: flex-start;flex-direction: column; width: 100%;">
					<section style="transform: rotate(0deg);background-color: #fff;padding: 0px 10px;width: 80px;box-sizing: border-box;" class=""><img src="img4/up4.png" style="max-width:100%;margin:0px auto;"></section>
					<section style="margin: -20px 20px;border:2px solid #97a9c0;background-image:url(img4/background4.png);background-size: cover;padding: 15px; width: 80%;">
						<section style="border:2px solid #97a9c0;padding: 20px;">
							<p style="margin: 0px;font-size: 15px;line-height: 1.5;color: #33475f;">{{@value}}</p>
						</section>
					</section>
					<section style="align-self: flex-end;width: 140px;box-sizing: border-box;margin-top: -32px;" class=""><img src="img4/down4.png" style="max-width:100%;margin:0px auto;"></section>
				</section>
			</section>
		</script>

		<script type="text/template" id="paragraph3">
			<section>
				<section style="margin-top: 0.5em; margin-bottom: 0.5em; position: static;">
					<section style="border-top: 3px dashed rgb(147, 122, 122);" class=""></section>
				</section>
				<section class="" style="margin: 20px 0%; position: static;">
					<section data-style="font-size: 15px; color: rgb(120, 114, 114); line-height: 1.8;" style="font-size: 15px; color: rgb(120, 114, 114); line-height: 1.8;">
						<p style="font-size: 15px; color: rgb(120, 114, 114); line-height: 1.8;">{{@value}}</p>
					</section>
				</section>
				<section class="" style="margin-top: 0.5em; margin-bottom: 0.5em; position: static;">
					<section style="border-top: 5px dashed rgb(147, 122, 122);" class=""></section>
				</section>
			</section>
		</script>

		<script type="text/template" id="img">
			<section style="width: 86%; margin-left: 7%;">
				<section style="display:inline-block;margin:0px auto;margin:10px;text-align:center;box-shadow:2px 2px 10px rgba(0,0,0,0.5);border-radius:4px;overflow:hidden;"><img src="{{@value}}" style="max-width:100%;vertical-align:bottom;"></section>
			</section>
		</script>

		<script type="text/template" id="img2">
			<section style="width: 80%; margin-left: 10%;">
				<img src="{{@value}}" style="border-radius: 50%;width:100%;vertical-align:top;">
			</section>
		</script>

		<script type="text/template" id="img3">
			<section style="max-width:94%; margin-left: 3%;">
				{{if value.length ==2}} {{each value}} {{if $index==0}}
				<section style="display:flex;align-items:center;">
					<section style="flex-shrink:0;padding: 5px; width: 46%;">
						<img src="{{@$value}}" style="max-width:100%;vertical-align:bottom;">
					</section>
					<section>
						<p style="margin:0px;font-size:22px;color:#333;line-height:1.8;">​<br></p>
					</section>
				</section>
				{{else if $index==1}}
				<section style="display:flex;align-items:center;">
					<p style="margin:0px;font-size:15px;line-height:1.5;color:#333;"> </p>
					<section style="width:46%;flex-shrink:0;padding:5px;background-color:#fff;margin-left:51%;margin-top:-40px;">
						<img src="{{@$value}}" style="max-width:100%;vertical-align:bottom;">
					</section>
				</section>
				{{else}} {{/if}} {{/each}} {{/if}}
			</section>
		</script>

		<script type="text/template" id="img4">
			<section style="max-width: 80% !important;margin:0px auto;">
				{{if value.length ==3}} {{each value}} {{if $index==0}}
				<section style="display:flex;text-align:center;">
					<section style="margin:0px auto;">
						<img src="{{@$value}}" style="margin:0px auto;text-align:center; width: 91%;">
					</section>
				</section>
				<section style="display:flex;margin-left: 5%;">
					<section style="display:flex;margin-top:10px;">
						{{else if $index==1}}
						<section style="flex:1;">
							<img src="{{@$value}}" style="width: 91%;">
						</section>
						{{else if $index==2}}
						<section style="flex:1;">
							<img src="{{@$value}}" style="width: 91%;">
						</section>
					</section>
				</section>
				{{else}} {{/if}} {{/each}} {{/if}}
			</section>
		</script>

		<script type="text/template" id="img5">
			<section>
				<section style="display:flex;">
					{{if value.length ==4}} {{each value}} {{if $index==0}}
					<section style="width:50%;padding: 5px;border-radius: 10px;margin-bottom: 5px;">
						<section style="line-height: 0em;padding: 2px;"><img src="{{@$value}}" style="width: 100%;vertical-align:top;"></section>
					</section>
					{{else if $index==1}}
					<section style="width:50%;padding: 5px;border-radius: 10px; margin-bottom: 5px;">
						<section style="line-height: 0em;padding: 2px;"><img src="{{@$value}}" style="width: 100%;vertical-align:top;"></section>
					</section>
				</section>
				<section style="display:flex;">
					{{else if $index==2}}
					<section style="width:50%;padding: 5px; border-radius: 10px; margin-bottom: 5px;">
						<section style="line-height: 0em; padding: 2px;"><img src="{{@$value}}" style="width: 100%;vertical-align:top;"></section>
					</section>
					{{else if $index==3}}
					<section style="width:50%;padding: 5px;border-radius: 10px; margin-bottom: 5px;">
						<section style="line-height: 0em;padding: 2px;"><img src="{{@$value}}" style="width: 100%;vertical-align:top;"></section>
					</section>
				</section>
				{{else}} {{/if}} {{/each}} {{/if}}
			</section>
		</script>

		<script type="text/javascript">
			var template_meta = {
				title: ['title', 'title2', 'title3'],
				paragraph: ['paragraph', 'paragraph2', 'paragraph3'],
				image: ['img', 'img2', 'img3', 'img4', 'img5']
			};
			(function(win) {

				win.template_meta = {
					title: ['title', 'title2', 'title3'],
					paragraph: ['paragraph', 'paragraph2', 'paragraph3'],
					image: ['img', 'img2', 'img3', 'img4', 'img5']
				};

				win.template_meta.render = function(config) {
					var html = "";
					var count = {};
					var paragraph_num = 0;
					var image_num = 0;
					var special_num = 0;
					var arry;
					config.resources.map(function(item, i) {
						count[item.type] = (count[item.type] || 0) + 1;
						var t_list = template_meta[item.type];
						if(item.type == 'title') {
							if(!isNaN(parseInt(item.value))) { //当标题为数字，不修改title样式
								if(special_num == (template_meta[item.type].length - 1)) { //sepcial_num将越界，重新循环
									var tmp = t_list[special_num];
									for(var num = i + 1; num < config.resources.length; num++) { //找到下一个title，如果为数字，将模板标题模板存储起来
										if(config.resources[num].type == 'title') {
											if(!isNaN(parseInt(config.resources[num].value))) {
												break;
											} else {
												special_num = 0;
												break;
											}
										}
									}
								} else {
									var tmp = t_list[special_num];
									for(var num = i + 1; num < config.resources.length; num++) { //找到下一个title，将模板标题模板存储起来
										if(config.resources[num].type == 'title') {
											if(!isNaN(parseInt(config.resources[num].value))) {
												break;
											} else {
												special_num++;
												break;
											}
										}
									}
								}
							} else { //标题不为数字
								if(special_num == (template_meta[item.type].length - 1)) { //sepcial_num将越界，重新循环
									var tmp = t_list[special_num];
									special_num = 0;
								} else {
									var tmp = t_list[special_num];
									special_num++;
								}
							}
						} else if(item.type == 'image') {
							var arrys = item.value.split(",");
							if(arrys.length > 1) { //如果为连续图片，选择img3开始的模板
								var tmp = t_list[arrys.length];
								arry = { "value": arrys };
								var h1 = template(tmp, arry);
								html += h1;
								return html;
							} else if(arrys.length == 1) { //单图，从前两个图片模板中随机选择
								var x = 0;
								var y = 1;
								image_num = parseInt(Math.random() * (y - x + 1) + x);
								var tmp = t_list[image_num];
							}

						} else if(item.type == 'paragraph') {
							if(i != 0 && i != (config.resources.length - 1)) {
								for(var num = i - 1; num > -1; num--) {
									if(config.resources[num].type == 'title') {
										if(!isNaN(parseInt(config.resources[num].value))) { //前一个title为数字
											for(var mock = i + 1; mock < config.resources.length; mock++) {
												if(config.resources[mock].type == 'title') {
													if(!isNaN(parseInt(config.resources[mock].value))) { //后一个title为数字
														var tmp = t_list[paragraph_num];
														var h = template(tmp, item);
														html += h;
														return html;
													} else { //后一个title不为数字，添加分割线
														if(paragraph_num == (template_meta[item.type].length - 1)) {
															var tmp = t_list[paragraph_num];
															paragraph_num = 0;
															var h = template(tmp, item);
															html += h;
															html += '<section style="margin: 10px auto;width:275px;"><img src="img4/split4.png" style="max-width: 100%;">​</section>';
															return html;
														} else {
															var tmp = t_list[paragraph_num];
															paragraph_num++;
															var h = template(tmp, item);
															html += h;
															html += '<section style="margin: 10px auto;width:275px;"><img src="img4/split4.png" style="max-width: 100%;">​</section>';
															return html;
														}
													}
												}
											}
											if(special_num == (template_meta[item.type].length - 1)) { //后面无title
												special_num = 0;
												var tmp = t_list[special_num];

											} else {
												special_num++;
												var tmp = t_list[special_num];
											}
										} else { //前一个title不为数字
											if(paragraph_num == (template_meta[item.type].length - 1)) {
												var tmp = t_list[paragraph_num];
												paragraph_num = 0;
											} else {
												var tmp = t_list[paragraph_num];
												paragraph_num++;
											}
											var h = template(tmp, item);
											html += h;
											return html;
										}
									}

								}
								if(special_num == (template_meta[item.type].length - 1)) { //前后无title
									var tmp = t_list[special_num];
									special_num = 0;

								} else {
									var tmp = t_list[special_num];
									special_num++;
								}
							} else { //paragraph处于第一或者最后一个
								if(special_num == (template_meta[item.type].length - 1)) {
									var tmp = t_list[special_num];
									special_num = 0;

								} else {
									var tmp = t_list[special_num];
									special_num++;
								}
							}
						}
						var h = template(tmp, item);
						html += h;
					});
					return html;
				}

			})(window);

			var config = window.config||{
				title: "",
				resources: [
				]
			};

			$(function() {

				var render = window.template_meta.render || function(config) {
					var html = "";
					var count = {};
					var paragraph_num = 0;
					var image_num = 0;
					var special_num = 0;
					var arry;
					config.resources.map(function(item, i) {
						count[item.type] = (count[item.type] || 0) + 1;
						var t_list = template_meta[item.type];
						if(item.type == 'title') {
							if(!isNaN(parseInt(item.value))) { //当标题为数字，不修改title样式
								if(special_num == (template_meta[item.type].length - 1)) { //sepcial_num将越界，重新循环
									var tmp = t_list[special_num];
									for(var num = i + 1; num < config.resources.length; num++) { //找到下一个title，如果为数字，将模板标题模板存储起来
										if(config.resources[num].type == 'title') {
											if(!isNaN(parseInt(config.resources[num].value))) {
												break;
											} else {
												special_num = 0;
												break;
											}
										}
									}
								} else {
									var tmp = t_list[special_num];
									for(var num = i + 1; num < config.resources.length; num++) { //找到下一个title，将模板标题模板存储起来
										if(config.resources[num].type == 'title') {
											if(!isNaN(parseInt(config.resources[num].value))) {
												break;
											} else {
												special_num++;
												break;
											}
										}
									}
								}
							} else { //标题不为数字
								if(special_num == (template_meta[item.type].length - 1)) { //sepcial_num将越界，重新循环
									var tmp = t_list[special_num];
									special_num = 0;
								} else {
									var tmp = t_list[special_num];
									special_num++;
								}
							}
						} else if(item.type == 'image') {
							var arrys = item.value.split(",");
							if(arrys.length > 1) { //如果为连续图片，选择img3开始的模板
								var tmp = t_list[arrys.length];
								arry = { "value": arrys };
								var h1 = template(tmp, arry);
								html += h1;
								return html;
							} else if(arrys.length == 1) { //单图，从前两个图片模板中随机选择
								var x = 0;
								var y = 1;
								image_num = parseInt(Math.random() * (y - x + 1) + x);
								var tmp = t_list[image_num];
							}

						} else if(item.type == 'paragraph') {
							if(i != 0 && i != (config.resources.length - 1)) {
								for(var num = i - 1; num > -1; num--) {
									if(config.resources[num].type == 'title') {
										if(!isNaN(parseInt(config.resources[num].value))) { //前一个title为数字
											for(var mock = i + 1; mock < config.resources.length; mock++) {
												if(config.resources[mock].type == 'title') {
													if(!isNaN(parseInt(config.resources[mock].value))) { //后一个title为数字
														var tmp = t_list[paragraph_num];
														var h = template(tmp, item);
														html += h;
														return html;
													} else { //后一个title不为数字，添加分割线
														if(paragraph_num == (template_meta[item.type].length - 1)) {
															var tmp = t_list[paragraph_num];
															paragraph_num = 0;
															var h = template(tmp, item);
															html += h;
															html += '<section style="margin: 10px auto;width:275px;"><img src="img4/split4.png" style="max-width: 100%;">​</section>';
															return html;
														} else {
															var tmp = t_list[paragraph_num];
															paragraph_num++;
															var h = template(tmp, item);
															html += h;
															html += '<section style="margin: 10px auto;width:275px;"><img src="img4/split4.png" style="max-width: 100%;">​</section>';
															return html;
														}
													}
												}
											}
											if(special_num == (template_meta[item.type].length - 1)) { //后面无title
												special_num = 0;
												var tmp = t_list[special_num];

											} else {
												special_num++;
												var tmp = t_list[special_num];
											}
										} else { //前一个title不为数字
											if(paragraph_num == (template_meta[item.type].length - 1)) {
												var tmp = t_list[paragraph_num];
												paragraph_num = 0;
											} else {
												var tmp = t_list[paragraph_num];
												paragraph_num++;
											}
											var h = template(tmp, item);
											html += h;
											return html;
										}
									}

								}
								if(special_num == (template_meta[item.type].length - 1)) { //前后无title
									var tmp = t_list[special_num];
									special_num = 0;

								} else {
									var tmp = t_list[special_num];
									special_num++;
								}
							} else { //paragraph处于第一或者最后一个
								if(special_num == (template_meta[item.type].length - 1)) {
									var tmp = t_list[special_num];
									special_num = 0;

								} else {
									var tmp = t_list[special_num];
									special_num++;
								}
							}
						}
						var h = template(tmp, item);
						html += h;
					});
					return html;
				}

				$("#main").html(render(config));
			});
		</script>
	</head>

	<body>
		<section style="100%">​<img style="width: 100%;" src="img4/follow.gif"></section>
		<div id="main"></div>
		<section style="margin-top: 5%; margin-bottom: 8%;">
			<section style="margin: 10px auto;width:65px;"><img src="img4/end_flower4.png" style="max-width: 100%;"></section>
		</section>
	</body>

</html>